<%- include('partials/header'); -%>
<div class="flex justify-center items-center">
    <a class="mr-5 bg-green-500 text-white p-3 " href="/login">Login</a>
    <a class=" ml-5 bg-gray-500 text-white p-3" href="/register" >Sign Up</a>
</div>
<%- include('partials/footer'); -%>